*.sw[nop]
*~
.DS_Store
.idea/modules.xml
.idea/vc-data-model.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode
.idea
.gitignore
*.bkp

**/node_modules
**/.DS_Store
**/.vscode
**/package-lock.json
out.html