<html lang="en">
  <head>
    <meta charset='utf-8'/>
    <title><%= ont["dc:title"]["en"] %></title>
    <script class="remove" src="https://www.w3.org/Tools/respec/respec-w3c-common"></script>
    <script class="remove" src="../common.js"></script>
    <script class="remove">
var respecConfig = {
    localBiblio: {
      "VERIFIABLE-CREDENTIALS": {
        title: "Verifiable Credentials Data Model 1.0",
        date: "2019",
        href: "https://w3c.github.io/vc-data-model/",
        authors: [
          "Manu Sporny", "Dave Longley", "David Chadwick", "Gregg Kellogg",
          "Grant Noble", "Daniel C. Burnett"
        ],
        publisher: "W3C"
      }
    },
    specStatus:  "base",
    shortName:   "vc-vocab",
    publishDate: "<%=ont["dc:date"]%>",
    thisVersion: "https://w3.org/2018/credentials",
    doJsonLd:    true,
    //edDraftURI: "https://w3c.github.io/vc-vocab/",
    // lcEnd: "3000-01-01",
    // crEnd: "3000-01-01",
    editors: [{
      name: "Manu Sporny",
      url: "http://manu.sporny.org/",
      company: "Digital Bazaar",
      companyURL: "https://digitalbazaar.com/"
    }, {
      name:       "Gregg Kellogg",
      url:        "http://greggkellogg.net/",
      company:    "Spec-Ops",
      companyURL: "https://spec-ops.io/",
      w3cid:      "44770"
    }],
    wg: "Verifiable Claims Working Group",
    wgURI: "https://www.w3.org/2017/vc/",
    wgPublicList: "public-vc-comments",
    wgPatentURI: "https://www.w3.org/2004/01/pp-impl/98922/status",
    alternateFormats: [
      {uri: "credentials.ttl", label: "Turtle"},
      {uri: "credentials.jsonld", label: "JSON-LD"}
    ],
    //otherLinks: [{
    //  key: "Repository",
    //  data: [{
    //    value: "We are on GitHub",
    //    href: "https://github.com/shexSpec/shexspec.github.io/"
    //  }, {
    //    value: "File a bug",
    //    href: "https://github.com/shexSpec/shex/issues"
    //  }]
    //}, {
    //  key: "Changes",
    //  data: [{
    //  //     value: "Diff to previous version",
    //  //     href: "diff-20140327.html"
    //  //   }, {
    //    value: "Commit history",
    //    href: "https://github.com/shexSpec/shexspec.github.io/commits/master"
    //  }]
    //}] ,
    inlineCSS: true,
    doRDFa: false,
    noIDLIn: true,
    //issueBase: "https://github.com/shexSpec/shex/issues/",
    noLegacyStyle: false
    };
    </script>
    <style type="text/css">
      dl.terms dt {
        float: left;
        clear: left;
        width: 17vw;
      }
      dl.terms dd:after {
          content: '';
          display: block;
          clear: both;
          margin-bottom: 5px;
      }
      table.rdfs-definition td {vertical-align: top;}
      .bold {font-weight: bold;}
    </style>
  </head>
  <body resource="<%=context['cred']%>" typeof="owl:Ontology" prefix="cred: <%=context['cred']%>">
    <section id="abstract">
      <p>This document describes the
        <span property="dc:title"><%= ont["dc:title"]["en"] %></span>
        and Term definitions used
        for describing Verfiable Credentials [[VERIFIABLE-CREDENTIALS]]. This document provides the RDFS [[RDF-SCHEMA]] vocabulary definition and a description of the JSON-LD context definition for use with
        defining Verfiable Credentials.</p>
      <p>Alternate versions of the vocabulary definition exist in
        <a rel="alternate" href="credentials.ttl">Turtle</a> and
        <a rel="alternate" href="credentials.jsonld">JSON-LD</a>,
        which also includes the <code>@context</code> required for metadata descriptions.
        <!--These versions may also be retrieved from <code>FIXME</code> using an appropiate HTTP <em>Accept</em> header.-->
      </p>
      <dl>
        <dt>Published:</dt><dd><time property="dc:date"><%=ont["dc:date"]%></time></dd>
        <%- unless Array(ont["owl:imports"]).empty?%>
        <dt>Imports:</dt>
        <%- Array(ont["owl:imports"]).each do |ref| %>
          <dd><a href="<%=ref%>" property="owl:imports"><%=ref%></a></dd>
        <% end -%>
        <% end -%>
        <dt>Version Info:</dt>
        <dd><a href="<%=ont['owl:versionInfo']%>" property="owl:versionInfo"><%=ont['owl:versionInfo']%></a></dd>
        <dt>See Also:</dt>
        <% Array(ont["rdfs:seeAlso"]).each do |ref| %>
          <dd><a href="<%=ref%>" property="rdfs:seeAlso"><%=ref%></a></dd>
        <% end %>
      </dl>
    </section>
    <section id="sotd">
      <p>
      <p>
Comments regarding this document are welcome. Please file issues
directly on <a href="https://github.com/w3c/vc-data-model/issues/">GitHub</a>,
or send them to
<a href="mailto:public-vc-comments@w3.org">public-vc-comments@w3.org</a>
(<a href="mailto:public-vc-comments-request@w3.org?subject=subscribe">subscribe</a>,
<a href="https://lists.w3.org/Archives/Public/public-vc-comments/">archives</a>).
      </p>

      <p>
The Working Group seeks implementation feedback, having set the
requirement of at least two implementations of each feature as the
exit criteria for the Verifiable Credentials Data Model 1.0 
Candidate Recommendation phase.  The group aims
to obtain reports from two producers and two consumers for each
feature if possible.  For details, see
the <a href="https://github.com/w3c/vc-test-suite/">test suite</a> and
sample <a href="https://w3c.github.io/vc-test-suite/implementations/">implementation
report</a>.
      </p>

      </p>
    </section>
    <section>
      <h2>Introduction</h2>
      <p property="dc:description"><%= ont["dc:description"]["en"] %></p>
      <p>This specification makes use of the following namespaces:</p>
      <dl class="terms">
        <dt><code>cred</code>:</dt>
        <dd><code>https://w3.org/2018/credentials#</code></dd>
        <dt><code>dc</code>:</dt>
        <dd><code>http://purl.org/dc/terms/</code></dd>
        <dt><code>sec</code>:</dt>
        <dd><code>https://w3.org/2018/security#</code></dd>
        <dt><code>xsd</code>:</dt>
        <dd><code>http://www.w3.org/2001/XMLSchema#</code></dd>
      </dl>
    </section>
    <%
      [{
        heading: "Class Definitions",
        key: "rdfs_classes"
      }, {
        heading: "Property Definitions",
        key: "rdfs_properties"
      }, {
        heading: "Datatype Definitions",
        key: "rdfs_datatypes"
      }, {
        heading: "Instance Definitions",
        key: "rdfs_instances"
      }].each do |sect|
    %>
    <% next if Array(ont[sect[:key]]).empty? %>
    <section>
      <h2><%= sect[:heading] %></h2>
      <p>The following are <%= sect[:heading].downcase %> in the <code>cred</code> namespace:</p>
      <table class="rdfs-definition">
        <% Array(ont[sect[:key]]).each do |defn| -%>
        <tr><td class="bold"><%= defn['@id'][5..-1] %></td>
          <td resource="<%= defn['@id'] %>" typeof="<%= Array(defn['@type']).join(" ") %>">
            <em property="rdfs:label"><%= defn['rdfs:label']['en'] %></em>
            <p property="rdfs:comment"><%= defn['rdfs:comment']['en'] %></p>
            <span property="rdfs:isDefinedBy" resource="cred:"></span>
            <% if %w(rdfs:subClassOf rdfs:subPropertyOf rdfs:range rdfs:domain).any? { |p| defn.has_key?(p)} %>
              <dl class="terms">
                <% %w(rdfs:subClassOf rdfs:subPropertyOf rdfs:range rdfs:domain).each do |p| %>
                  <% if defn.has_key?(p) %>
                  <dt><%= p %></dt>
                  <% Array(defn[p]).each do |v| %>
                    <%if v.is_a?(Array) && v.first == 'owl:unionOf' %>
                      <dd property="<%= p %>" resource="_:">
                        Union of
                        <% v.last.each do |c| %>
                        <span property="owl:unionOf" inlist=true resource="<%= c %>"><%= c %></span>
                        <% end%>
                      </dd>
                    <% else %>
                      <dd property="<%= p %>" resource="<%= v %>"><%= v %></dd>
                    <% end %>
                  <% end %>
                  <% end %>
                <% end %>
              </dl>
            <% end %>
          </td>
        </tr>
        <% end -%>
      </table>
    </section>
    <% end%>
    <section>
      <h2>Term Definitions</h2>
      <dl class="terms">
        <% context.keys.sort.each do |term|%>
        <% defn = context[term] %>
        <dt><%= term %></dt>
        <dd>
          <% if defn.is_a?(String) %>
            <%= defn %>
          <% elsif defn['@id'] %>
            <%= defn['@id'] %>
          <% elsif defn['@reverse'] %>
            reverse of <%= defn['@reverse'] %>
          <% else %>
            <%= term %>
          <% end %>
          <% if defn.is_a?(Hash) && defn['@type'] %>
            with string values interpreted as <%= defn['@type'] %>
          <% end%>
          <% if defn.is_a?(Hash) && defn['@container'] %>
            <% if defn['@container'] == '@language' %>
              with object values interpreted as language-specific, indexed by language
            <% elsif defn['@container'] == '@index' %>
              with object values interpreted indexed by index
            <% else %>
              with array values interpreted as <%= defn['@container'] %>
            <% end %>
          <% end%>
        </dd>
        <% end %>
      </dl>
    </section>
  </body>
</html>
