div#toc a, section#toc a {
	text-decoration: none;
}

div#toc a:hover, section#toc a:hover {
	background: yellow;
	color: red;
}

div#toc ul, section#toc ul {
	list-style-type: none;
	margin-left: 1.5em;
	padding-left: 0;
}

.tocvisible, .tochidden { cursor: pointer; }
.tocvisible:before {
	content: "▾ ";
	font-size: 110%; 
	font-family: monospace;
}
.tochidden:before  { 
	content: "‣ "; 
	font-size: 110%; 
	font-family: monospace;
}

span.state_open {
	padding-left: 0.2em;
	padding-right: 0.2em;
	background-color: darkseagreen;
	color: black;
}
span.state_closed {
	padding-left: 0.2em;
	padding-right: 0.2em;
	background-color: indianred;
	color: black;
}

/* Careful: the content below are two non-breakable spaces (in UTF-8)! */
span.tocnumber:not(.tocvisible):not(.tochidden):before {
	content: "  ";
	font-size: 120%;
}

body {
	font-family: arial, helvetica, freesans, clean, sans-serif;
	color:black;
	line-height:1.4em;
	padding: 2em 2em;
}

section section {
	margin-left: 4em;
}
/* Links... */

a {
	color: NavyBlue;
	background: transparent;
}

a:link, a:active {
	background: transparent;
	text-decoration:none;
}

a:visited {
	color: NavyBlue;
	background: transparent;
}

a:hover{
	background-color: yellow;
	color: #00e;
}

a code, a:link code, a:visited code {
	color:#4183c4;
}

a:link img, a:visited img {
   border-style: none
}

/* Headers */
h1, h2, h3, h4, h5, h6
{
	margin-bottom: 0.5em;
	margin-top: 1em;
	padding-bottom: 0.15em;
	border-bottom: 1px solid #ccc;
	background: transparent;
	color: #005a9c;
	font-weight: normal;
}

.title-date {
	font-size: 1.4em;
	color: #005a9c;
	font-weight: normal;
}

footer
{
	margin-top: 2em;
	border-top: 1px ridge #ccc;
	font-size: 90%;
}

h1
{
	border-bottom: none;
}

h5, h6 {
	border: none;
	font-size: 100%;
}

headertoclevel1, .headertoclevel2, .headertoclevel3, .headertoclevel4
{
	border-bottom: 1px solid #ccc !important;
}

.headertoclevel1
{
  font-size: 1.5em !important;
}

.headertoclevel2
{
  font-size: 1.17em !important;
}

.headertoclevel3
{
	font-size: 1em !important;
}

.headertoclevel4, .headertoclevel5 {
	border: none !important;
	font-size: 1em !important;
}
/* --- */

hr { border:1px solid #ddd; }

dt {
	font-weight:bold;
	margin-left:1em;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

.summary {
	font-size: 1.4em;
	color: #005a9c;
	font-weight: normal;
}
div.issue {
	margin-left: 1em;
	margin-bottom: 0.3em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.2em;
	border-radius: 10px;
	border: solid black 1px;
}
span.what {
	font-weight: bold;
	font-style: italic;
}
