<html lang="en">
  <head>
    <meta charset='utf-8'/>
    <title><%= ont["dc:title"]["en"] %></title>
    <script class="remove" src="https://www.w3.org/Tools/respec/respec-w3c"></script>
    <script class="remove" src="../common.js"></script>
    <script class="remove">
      var respecConfig = {
        localBiblio: {
          "VC-DATA-MODEL": {
            title: "Verifiable Credentials Data Model v2.0",
            href: "https://www.w3.org/TR/vc-data-model-2.0/",
            authors: [
              "Manu Sporny", "Grant Noble", "Dave Longley",
              "Daniel C. Burnett", "Brent Zundel", "Kyle Den Hartog",
              "Orie Steel", "Michael B. Jones", "Gabe Cohen"
            ],
            publisher: "W3C"
          }
        },
        specStatus:  "base",
        shortName:   "2018/credentials/v2",
        publishDate: "<%=ont["dc:date"]%>",
        thisVersion: "https://w3.org/2018/credentials/v2",
        doJsonLd:    true,
        editors: [{
          name:       "Ivan Herman",
          url:        "https://www.w3.org/People/Ivan/",
          company:    "W3C",
          w3cid:      7382,
          orcid:      "0000-0003-0782-2704",
          companyURL: "https://www.w3.org",
          note:       "v2.0"
        },{
          name:       "Manu Sporny",
          url:        "http://manu.sporny.org/",
          company:    "Digital Bazaar",
          companyURL: "http://digitalbazaar.com/",
          w3cid:      41758,
          note:       "v1.0, v2.0"
        },{
          name:       "Gregg Kellogg",
          url:        "http://greggkellogg.net/",
          w3cid:      "44770",
          company:    "Invited Expert",
          note:       "v1.0"
        }],
        // group : "vc",
        // github: {
				// 	repoURL: "https://github.com/w3c/vc-data-model",
				// 	branch: "main"
				// },
        alternateFormats: [
          {uri: "vocabulary.ttl", label: "Turtle"},
          {uri: "vocabulary.jsonld", label: "JSON-LD"}
        ],
        inlineCSS: true,
        doRDFa: false,
        noIDLIn: true,
        noLegacyStyle: false
      };
    </script>
    <style type="text/css">
      dl.terms dt, dl.terms-list dt {
        float: left;
        clear: left;
        width: 17vw;
      }
      dl.terms-list dd {
        margin-left: 19vw;
      }
      dl.terms dd:after {
          content: '';
          display: block;
          clear: both;
          margin-bottom: 5px;
      }
      table.rdfs-definition td {
        vertical-align: top;
        margin-right: 2em;
      }
      .bold {
        font-weight: bold;
      }
      code {
        color: red;
      }
    </style>
  </head>
  <body resource="<%=context['cred']%>" typeof="owl:Ontology" prefix="cred: <%=context['cred']%>">
    <section id="abstract">
      <p>This document describes the
        <span property="dc:title"><%= ont["dc:title"]["en"] %></span>
        and Term definitions used for describing Verifiable Credentials [[VC-DATA-MODEL]]. 
        This document provides the RDFS [[RDF-SCHEMA]] vocabulary definition.
      </p>
      <p>Alternate versions of the vocabulary definition exist in
        <a rel="alternate" href="vocabulary.ttl">Turtle</a> and
        <a rel="alternate" href="vocabulary.jsonld">JSON-LD</a>.
      </p>
      <dl>
        <dt>Published:</dt><dd><time property="dc:date"><%=ont["dc:date"]%></time></dd>
        <%- unless Array(ont["owl:imports"]).empty?%>
        <dt>Imports:</dt>
        <%- Array(ont["owl:imports"]).each do |ref| %>
          <dd><a href="<%=ref%>" property="owl:imports"><%=ref%></a></dd>
        <% end -%>
        <% end -%>
        <dt>Version Info:</dt>
        <!-- <dd><a href="<%=ont['owl:versionInfo']%>" property="owl:versionInfo"><%=ont['owl:versionInfo']%></a></dd> -->
        <dd>2.0</dd>
        <dt>See Also:</dt>
        <% Array(ont["rdfs:seeAlso"]).each do |ref| %>
          <dd><a href="<%=ref%>" property="rdfs:seeAlso"><%=ref%></a></dd>
        <% end %>
      </dl>
    </section>
    <section id="sotd">
      <p>
        Comments regarding this document are welcome. Please file issues
        directly on <a href="https://github.com/w3c/vc-data-model/issues/">GitHub</a>, or send them to
        <a href="mailto:public-vc-comments@w3.org">public-vc-comments@w3.org</a>
        (<a href="mailto:public-vc-comments-request@w3.org?subject=subscribe">subscribe</a>,
        <a href="https://lists.w3.org/Archives/Public/public-vc-comments/">archives</a>).
      </p>
    </section>
    <section>
      <h2>Introduction</h2>
      <p property="dc:description"><%= ont["dc:description"]["en"] %></p>
      <p>This specification makes use of the following namespaces:</p>
      <dl class="terms">
        <dt><code>cred</code>:</dt>
        <dd><code>https://w3.org/2018/credentials#</code></dd>
        <dt><code>dc</code>:</dt>
        <dd><code>http://purl.org/dc/terms/</code></dd>
        <dt><code>odrl</code>:</dt>
        <dd><code>http://www.w3.org/ns/odrl/2/</code></dd>
        <dt><code>owl</code>:</dt>
        <dd><code>http://www.w3.org/2002/07/owl#</code></dd>
        <dt><code>xsd</code>:</dt>
        <dd><code>http://www.w3.org/2001/XMLSchema#</code></dd>
      </dl>
    </section>
    <%
      [{
        heading: "Class Definitions",
        key: "rdfs_classes"
      }, {
        heading: "Property Definitions",
        key: "rdfs_properties"
      }, {
        heading: "Datatype Definitions",
        key: "rdfs_datatypes"
      }, {
        heading: "Instance Definitions",
        key: "rdfs_instances"
      }].each do |sect|
    %>
    <% next if Array(ont[sect[:key]]).empty? %>
    <section>
      <h2><%= sect[:heading] %></h2>
      <p>The following are <%= sect[:heading].downcase %> in the <code>cred</code> namespace:</p>
      <table class="rdfs-definition">
        <% Array(ont[sect[:key]]).each do |defn| -%>
        <tr><td class="bold" id="<%= defn['@id'][5..-1] %>"><%= defn['@id'][5..-1] %></td>
          <td resource="<%= defn['@id'] %>" typeof="<%= Array(defn['@type']).join(" ") %>">
            <em property="rdfs:label"><%= defn['rdfs:label']['en'] %></em>
            <%if defn['owl:deprecated'] %>
               <span class="bold"><em>(deprecated)</em></span>
            <% end %>
            <p property="rdfs:comment"><%= defn['rdfs:comment']['en'] %></p>
            <span property="rdfs:isDefinedBy" resource="cred:"></span>
            <% if %w(rdfs:subClassOf rdfs:subPropertyOf rdfs:range rdfs:domain).any? { |p| defn.has_key?(p)} %>
              <dl class="terms">
                <% %w(rdfs:subClassOf rdfs:subPropertyOf rdfs:range rdfs:domain).each do |p| %>
                  <% if defn.has_key?(p) %>
                  <dt><%= p %></dt>
                  <% Array(defn[p]).each do |v| %>
                    <%if v.is_a?(Array) && v.first == 'owl:unionOf' %>
                      <dd property="<%= p %>" resource="_:">
                        Union of
                        <% v.last.each do |c| %>
                        <span property="owl:unionOf" inlist=true resource="<%= c %>"><code><%= c %></code></span>
                        <% end%>
                      </dd>
                    <% else %>
                      <dd property="<%= p %>" resource="<%= v %>"><code><%= v %></code></dd>
                    <% end %>
                  <% end %>
                  <% end %>
                <% end %>
              </dl>
            <% end %>
          </td>
        </tr>
        <% end -%>
      </table>
    </section>
    <% end%>
  </body>
</html>
