# .github/workflows/pr-push.yml
name: CI
on:
  pull_request: {}
  push:
    branches: [v2.0]
jobs:
  main:
    name: Build, Validate and Deploy
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: respec
          W3C_ECHIDNA_TOKEN: ${{ secrets.W3C_TR_TOKEN }}
          W3C_WG_DECISION_URL: https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-08-03-vcwg#resolution1
          W3C_BUILD_OVERRIDE: |
             shortName: vc-data-model-2.0
             specStatus: WD
